@charset "utf-8";
/* CSS DOCUMENT */

html, html * {
	
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:Times Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	vertical-align:middle; 
}

a {
	text-decoration: none;
}

.row:before, row:after {
	content:"";
	display:table;
}
	
.row1 {
	padding: 20px; 50px; 20px;
	color: gold;
	font-weight: bold;
	text-align: center;
	margin-top:20px;
}

.row2 {
	padding: 40px; 50px; 40px;
	color: darkslateblue;
	text-align: left;
	margin-top:20px;
}

.row3 {
	padding: 10px; 10px; 10px;
	color: darkslateblue;
	text-align: center;
	margin-top:12px;
}

.row4 {
	padding: 10px; 10px; 10px;
	color: darkslateblue;
	text-align: center;
	margin-top:12px;
}

.row5 {
	padding: 40px; 50px; 40px;
	color: darkred;
	text-align: left;
	margin-top:20px;
}

.col {
	width:100%;
}

.footer {
	width:100%;
	color: grey;
	padding: 8px;
	font-size:16px
}

.style-top {
	width:220px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-table1 {
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-table2 {
	width:900;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-table3 {
	width:1200;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}
	
h1 {
	font-size:70px;
	font-weight:bold;
	text-align:left;
	color: red;
	text-decoration: none;
}

h2 {
	font-size:16px;
	font-weight:normal;
	text-align:center;
	color: darkslateblue;
}
h3 {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color: gold;
	text-decoration: none;
}
	
@media screen and (min-width: 768px) /* For Tablet */
{
	body {
		max-width:778px;
	}
	.col {
		float:left;
	}
	h1 {
		font-size:80px;
		margin-bottom:5px;
	}
}
	
@media screen and (min-width: 1024px) /* For Desktop */
{
	body {
		max-width:1024px;
	}
	h1 {
		font-size:100px;
		margin-bottom:50px;
	}
}